
:root{
    --Basic_Color_Text: #FFB453;
    --Normal_Color_Text: #2A2A2A;
    --Basic_Color_Paragraph : #575757;
    --Background_Color: #FFFDF6;
    --Background_Color_Button : #242424;
    --Shadow_Color_Button: #000000;
    --Border_Color: #131313;
}


body,html{
    width: 100%;
    min-height: 100vh;
    background-color: var(--Background_Color);
    overflow-x: hidden;
}




